.wrapper
{
    position: absolute;
    top: 0;
    right: 0; bottom: 0;
  
    width: 75%;
    margin: auto;
  
    opacity: .3;
  
    transform: translate(15%, 0);
}
.layer1
{
width: 60%;
height: 60%;
margin: 20%;
position: absolute;

}
.layer2{
width: 72.5%;
height: 70%;
margin: 15%;
position: absolute;
transform-origin: 48.2% 50%;
-webkit-animation:reverse_spin 40s linear infinite;
-moz-animation:reverse_spin 40s linear infinite;
animation:reverse_spin 40s linear infinite;
}

.layer3{
    width: 85%;
    height: 80%;
    margin: 10%;
    position: absolute;
    transform-origin: 47.5% 50%;
    -webkit-animation:spin 50s linear infinite;
    -moz-animation:spin 50s linear infinite;
    animation:spin 50s linear infinite;
}

.layer4{
    width: 94%;
    height: 90%;
    margin: 5%;
    position: absolute;
    transform-origin: 48.3% 50%;
    -webkit-animation:reverse_spin 70s linear infinite;
    -moz-animation:reverse_spin 70s linear infinite;
    animation:reverse_spin 70s linear infinite;
}



@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@-moz-keyframes reverse_spin { 
    100% { -moz-transform: rotate(-360deg); } 
}

@-webkit-keyframes reverse_spin { 
    100% { -webkit-transform: rotate(-360deg); } 
}

@keyframes reverse_spin { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}